@use '../util/functions' as f;
.grid {
    display: grid;
    grid-template-rows: 2fr 8fr 1fr 1fr 8fr 2fr;
    gap: f.rem(10);
    background-color: rgb(60, 50, 100);
    width: clamp(f.rem(180), 90vw, 90vw);
    height: 75vh;
    margin: 2vh auto;
    padding: f.rem(12);
    border-radius: f.rem(15);
    box-shadow: f.rem(0) f.rem(0) f.rem(40) rgb(0, 0, 0);
}
.head {
    display: flex;
    /*align-content: center;
    text-align: center;*/
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 41, 78, 0.75);
    color: rgb(255, 255, 255);
    border-radius: f.rem(15);
    position: relative;
    &__name, &__info {
        position: absolute;
        font-weight: 700;
        font-size: clamp(f.rem(5), f.rem(12) + 1.2vw, f.rem(64));
    }
    &__info {
        right: clamp(f.rem(20), f.rem(4) + 4vw, f.rem(60));
        width: clamp(f.rem(10), f.rem(19) + 1vw, f.rem(60));
        height: clamp(f.rem(10), f.rem(19) + 1vw, f.rem(60));
        background-color: rgba(255, 255, 255, 0.7);
        color: rgba(49, 41, 78, 0.75);
        text-align: center;
        align-content: center;
        border: none;
        border-radius: 50%;
    }
}
.leaders {
    background-color: rgba(49, 41, 78, 0.75);
    border-radius: f.rem(15);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    &__first, &__second, &__third {
        position: absolute;
        border-radius: f.rem(10);
        display: flex;
        justify-content: center;
        background-color: rgb(39, 32, 63);
        bottom: 5%;
        width: clamp(f.rem(10), 25.7vw, f.rem(600));
    }
    &__first {
        height: 90%;
        img {
            height: clamp(f.rem(10), f.rem(30) + 3vw, f.rem(1600));
            position: absolute;
            bottom: 50%;
        }
    }
    &__second {
        height: 82%;
        left: 2.5%;
        img {
            height: clamp(f.rem(10), f.rem(26) + 2.6vw, f.rem(1200));
            position: absolute;
            bottom: 55%;
        }
    }
    &__third {
        height: 77%;
        right: 2.5%;
        img {
            height: clamp(f.rem(10), f.rem(26) + 2.6vw, f.rem(1200));
            position: absolute;
            bottom: 55%;
        }
    }
    &__place {
        color: rgb(255, 255, 255);
        position: inherit;
        font-weight: 700;
        font-size: clamp(f.rem(6), f.rem(6) + 1vw, f.rem(72));
        height: clamp(f.rem(6), f.rem(7) + 1.5vw, f.rem(72));
        width: clamp(f.rem(6), f.rem(7) + 1.5vw, f.rem(72));
        border-radius: 50%;
        align-content: center;
        text-align: center;
        &--gold {
            background-color: rgb(254, 180, 49);
            //bottom: 46%; //depends on the parent <div> height
            bottom: 46%;
        }
        &--silver {
            background-color: rgb(157, 171, 171);   
            bottom: 50%;
        }
        &--bronze {
            background-color: rgb(240, 154, 17);
            bottom: 50%;
        }
    }
    &__name {
        position: inherit;
        font-size: clamp(f.rem(6), f.rem(9) + 0.5vw, f.rem(48));
        bottom: 30%;
        &--gold {
            color: rgb(254, 180, 49);
        }
        &--silver {
            color: rgb(157, 171, 171);
        }
        &--bronze {
            color: rgb(240, 154, 17);
        }
    }
    &__score {
        position: inherit;
        bottom: 10%;
        font-weight: 700;
        font-size: clamp(f.rem(6), f.rem(8) + 1vw, f.rem(48));
        &--first {
            color: rgb(254, 180, 49);
        }
        &--second {
            color: rgb(157, 171, 171);
        }
        &--third {
            color: rgb(240, 154, 17);
        }
    }
}
.sort-info, .sort-time {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(37, 30, 61);
    border-radius: f.rem(15);
    button {
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: clamp(f.rem(10), f.rem(8) + 1vw, f.rem(18));
        background-color: rgb(37, 30, 61);
        border-radius: f.rem(15);
    }
}
.sort-info {
    &__blocks, &__coins, &__invites {
        display: block;
        border: f.rem(4) solid rgb(37, 30, 61);
    }
}
.sort-time {
    &__hour, &__day, &__week {
        display: block;
        border: f.rem(4) solid rgb(37, 30, 61);
    }
}
.results {
    border-radius: f.rem(15);
    //display: grid;
    //grid-template-rows: repeat(20, 2fr);
    //gap: util.rem(10);
    //overflow: auto;
}
.user-result {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(37, 30, 61, 0.75);
    border-radius: f.rem(15);
    position: relative;
    &__place, &__name, &__total {
        position: absolute;
        font-weight: 700;
        font-size: clamp(f.rem(8), f.rem(8) + 1.4vw, f.rem(64));
    }
    &__place {
        left: 5%;
    }
    &__avatar {
        position: absolute;
        left: 18%;
        img {
            height: clamp(f.rem(8), f.rem(14) + 1.5vw, f.rem(64));
        }
    }
    &__name {
        left: 32%;
    }
    &__total {
        right: 5%;
    }
}